@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}
    
    ul {
    list-style: none;
}


:root {
    --color-primary: #5a28cf ;
    --color-secondary:#f9f9fa  ;
    --color-extra: #0f1eee ;
    --color-last: #fff;
  }  

  /*Text Styling*/
@mixin text-center {
    text-align: center;
}

@mixin text-xxl{
    font-size: 4rem;
    font-weight: 700;
}

@mixin text-xl {
    font-size: 2.0625rem;
}

@mixin text-lg {
    font-size: .98rem;
    font-weight: 300;
}
@mixin text-md {
    font-size: 1.3125rem;
    font-weight: 400;
}

@mixin text-sm {
  /*  font-size: .88rem;
    letter-spacing: 1px;
    */
    font-size: .98rem;
    font-weight: 300;
    letter-spacing: 1px;

}

/*buttons*/

.btn-1{
    background-color: var(--color-extra);
    border: none;
    color: var(--color-last);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    @include text-md();
    border-radius: 5%;
  }



/*grid style*/


.grid-col-one {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  .grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .grid-reversed :first-child {
    order: 2;
  }
  
  /*pad*/
  
  @mixin pad-1{
    padding: 5.5rem 0;
  }
  
  
  @mixin pad-2 {
    padding: .5rem 0;
  }
  
  @mixin auto{
    margin: auto;
    width: 1000px;
  }


    @mixin m-main{
      margin: 0 8rem;
   }
  
  
 /*Icon bar*/
 


.top-bar {
    background-color: var(--color-last);
    color: var(--color-primary);
}

.top-bar-cont{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    @include m-main()
}

.top-bar a{
  color: var(--color-primary);
}

.top-right{
    margin: .5rem;
}

.icon-list > a > i{
    font-size: 30px;
}


.top-left {
    height: 100%;
}

.top-left ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.top-left ul > p{
    @include text-sm();
}

.top-left li {
    list-style: none;
}

.top-left li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1rem;
}

.top-left li {
  display:flex;
  
}

.top-left i {
  font-size: 20px;
}



.icon-list { 
  display: flex;
}

.icon-list a{
  padding: 0 .5rem;
}
 

.top-left-ul li {
  display: flex;
  align-items: center; 
  margin: 0 1rem
}

.top-left-ul li > div{
  margin: 0 .2rem;
}

.icon-p{
    white-space: nowrap;
}





  /*navbar*/
  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    
    white-space: nowrap;
    background-color: var(--color-primary);
    color: var(--color-last);
}

.navbar > *{
    @include m-main()
}

.brand-title {
    @include text-xl();
    margin: .5rem; 
    padding-left: 8rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--color-last);
    padding: 1rem;
   
  
}


.toggle-button {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 10px;
}
  

/*section 1 */

.section-1{
    background-image: url("/images/jimmy-dean-4-rwTZGSs2s-unsplash.jpg");
   background-repeat: no-repeat; 
    background-size: cover;
    height:700px;
    width:100vw;
    background-size: 100vw 900px;
    color: var(--color-primary);
    text-align:center;
    
  }
  
  .sect-1-content{
    margin: auto;
    width: 800px;
    padding-top: 5rem;
  }
  
  .sect-1-header{
    padding: 5rem 0;
  }
  
  h2{
  @include text-xxl();
 padding: 1.5rem 0;
  }

  .one-btn{
margin-right: 1rem;
  }
  



/*section 2 */
.section-2{
 @include m-main();
 @include pad-1();
}

.grid-main{
    @include m-main();
}

.grid-two{
    text-align: center;
  }

  .grid-two i{
    font-size: 50px;
    color: var(--color-primary);
    margin-bottom: 2.5rem;
  }


  .grid-two h3{
    @include text-lg();

  }

  .grid-two p{
    @include text-sm();
    margin-bottom: 3rem;
  }








 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .grid-main {
        grid-template-columns:repeat(1, 1fr); ; 
    }
 }


 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .grid-col-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
       justify-content: center;   
      }
     

}


 
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (max-width: 992px) {
    .grid-main {
        grid-template-columns:repeat(1, 1fr); ; 
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 